.page10 {
    transform: translate(374px, 420px);
}

.page10-header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translate(1px, 14px);
}

.page10-header-text h5 {
    font-size: 36px;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #2C3E50;
    margin-top: 2px;
}

.page10-header-text p {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #A1B1BC;
    margin-top: -42.5px;
    margin-left: -1.5px;
}


/* .....flex-container */

.page10-containers {
    display: flex;
    margin-top: 81.5px;
}


/* .page10-container-1{
    margin-top: ;
} */

.page10-container-1 div:nth-child(1) p {
    font-size: 24px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #A1B1BC;
}

.page10-container-1 div:nth-child(1) {
    width: 293px;
    height: 152px;
    background: #EAEBEC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page10-container-1 div:not(:first-child) {
    width: 292px;
    height: 39px;
    background: #EAEBEC;
}

.page10-container-1 div:not(:first-child) p {
    font-size: 14px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #686D80;
    padding: 0;
    margin: 0;
    text-align: center;
}

.page10-container-1 div:nth-child(2) p {
    margin-top: 1px;
}

.page10-container-1 div:nth-child(3) p {
    margin-top: 2px;
}

.page10-container-1 div:nth-child(4) p {
    margin-top: 1px;
}

.page10-container-1 div:nth-child(5) p {
    margin-top: 1px;
}

.page10-container-1 div:nth-child(6) p {
    margin-top: 1px;
}

.page10-container-1 div:nth-child(7) p {
    margin-top: 1px;
}

.page10-container-1 div:last-child {
    height: 84px;
}

.background-F6F6F6 {
    background: #F6F6F6 !important;
}

.page10 {
         width: 1171px;
         height: 658.08px;
     }