html,body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container{
    width: 1920px;
}
.page{
    height: 1280px;
    width: 100%;
    display: flex;
}
.page1{
    justify-content: center;
    background-color: #222533;
}

.regular{
    font-family: 'Lato', sans-serif;
    letter-spacing: 9px;
    word-spacing: 2px;
    font-size: 30px;
    width: 523px;
    height: 22px;
    position: relative;
    top: 433px;
    left: 10px;
    font-weight: 400;
    color: #FFFFFF;
}

#first{
    color: #1ABC9C;
}

h1{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #FFFFFF;
    position: absolute;
    top: 448px;
    left:400px;
    height: 45px;
    width: 1130px;
    font-size: 60px;
}

.light{
    height: 23px;
    width: 810px;
    font-weight: 300;
    left: 559px;
    top: 560px;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    position: absolute;
}

#transparent, #green{
    position: absolute;
    width: 200px;
    height: 61px;
    background-color: transparent;
    color: #FFFFFF;
    left: 750px;
    top: 666px;
    stroke-width: 2;
    stroke-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit:100px;
    stroke-dashoffset: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    border-radius: 2px;
    border: 2px solid white;
    font-weight: 900;
}
#transparent:hover, #green:hover{
    background-color: #16E8BE;
    border: 0;
    cursor: pointer;
}

#green{
    left: 970px;
}

.logo{
    position: absolute;
    top: 1303px;
    left: 375px;
}

h2{
    position: absolute;
    font-family: 'Lato', sans-serif;
    left: 429px;
    font-size: 36px;
    top: 1274px;
    color: #34495E;
    width: 104px;
    height: 28px;
    font-weight: 500;
}

#second{
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    left: 52px;
    color: #34495E;
    width: 104px;
    height: 30px;
    font-weight: 900;
}

.header{
    width: 100%;
    height: 90px;
    border-bottom: 3px solid rgba(221, 221, 221, 0.281);
    display: block;
}

.navigation{
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    list-style: none;
    width: 898px;
}

.navigation li{
    height: 100%;
    display: table-cell;
    float: right;
    padding-right: 30px;
    padding-left: 2px;
    vertical-align: middle;
    position: relative;
    top: 34px;
    left: 605px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.boxes{
    position: relative;
    min-width: 64%;
    height: 250px;
    margin: 240px auto;
    left: -578px;
    top: -40px;
}

.box{
    position: relative;
    width: 270px;
    height: 210px;
    background-color: transparent;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid rgba(204, 204, 204, 0.842);
}

.box_icon{
    position: absolute;
    top: -31px;
    left: 104px;
    z-index: 1;
}

.box_header{
    width: 100%;
    position: absolute;
    top: 32px;
    text-align: center;
    font-size: 18px;
    color: #2C3E50;
    font-weight: 700;
}

.box_content{
    position: absolute;
    top: 32%;
    width: 200px;
    height: 108px;
    color: #A1B1BC;
    font-weight: 400;
    text-align: center;
    left: 13%;
    font-size: 14px;
    line-height: 172%;
}

.page2{
    height: 525px;
}

.page3{
    position: relative;
    height: 500px;
    background-color: #F9FAFA;
    border-top: 1px solid rgba(190, 190, 190, 0.637);
}

#about_header{
    position: absolute;
    color: #263341;
    font-size: 36px;
    font-weight: 300;
    height: 35px;
    width: 260px;
    top: 11%;
    left: 374px;
}

#about_container{
    height: 159px;
    width: 560px;
    position: absolute;
    margin-top: 7%;
    margin-left: 374px;
    color: #A1B1BC;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

#button_vm{
    position: absolute;
    width: 173px;
    height: 50px;
    background-color: #FFFFFF;
    top: 344px;
    left: 375px;
    border-radius: 4px;
    font-weight: 900;
    font-size: 16px;
    word-spacing: 0.5px;
    color: #34495E;
    border: 2px solid rgba(197, 197, 197, 0.301);
}

#button_vm:hover{
    background-color: #1ABC9C;
    color: white;
    cursor: pointer;
}

#ipad_icon{
    position: absolute;
    width: 545px;
    height: 276px;
    top: 25%;
    right: 19%;
}

.page4{
    width: 100%;
    height: 700px;
    background-color: #2E3240;
    position: relative;
}

#capabilities_header{
    position: absolute;
    width: 100%;
    height: 30px;
    color: #ffffff;
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    top: 55px;
}

#capabilities_text{
    position: absolute;
    width: 100%;
    height: 38px;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content:center;
    top: 134px;
    left: 5px;
    word-spacing: 0.8px;
}

#capabilities_text2{
    position: absolute;
    width: 100%;
    height: 38px;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content:center;
    top: 158px;
    left: -1px;
    word-spacing: 1.3px;
}


.round_figures {
    width: 187px;
    height: 187px;
    background: rgb(255, 255, 255);
    border: 7px solid #1ABC9C;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 250px;
    left: 410px;
    margin-right: 96px;
}

.round_figures:hover{
    border-color: #21C2F8;
}

.inside_round_figures{
    position: absolute;
    background: #ECF0F1;
    border-radius: 50%;
    height: 104px;
    width: 104px;
    top: 50%;
    left: 50%;
    margin: -51px 0px 0px -53px;
    align-items: center;
}

.inside_round_figures:hover{
    background: #2C3E50;
    color: rgb(255, 255, 255);
}

.round_text{
    position: relative;
    top: 37%;
    font-size: 18px;
    font-weight: 400;
}

.round_p_header{
    position: absolute;
    top: 158px;
    left: 8px;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.round_p_text{
    position: absolute;
    top: 196px;
    left: -67px;
    font-size: 14px;
    font-weight: 400;
    width: 239px;
    color: white;
    line-height: 25px;
}

.nt{
    left: -1px !important;
}

.page5{
    position: relative;
    width: 100%;
    height: 595px;
}

#services_header{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 55px;
    font-size: 36px;
    color: #2C3E50;
    font-weight: 300;
}

#services_text{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 135px;
    line-height: 22px;
    font-size: 14px;
    color: #A1B1BC;
    font-weight: 400;
}

.boxxes2{
    width: 100%;
    height: 300px;
    margin: 240px auto;
    display: flex;
}

.boxx2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #21C2F8;
    width: 25%;
    height: 300px;
    background-color: transparent;
    margin:0;
    box-sizing: border-box;
    border: 1px solid rgba(223, 223, 223, 0.678);
}

.boxx2:hover{
    background-color: #d1d1d1;
    cursor: pointer;
}

.boxx_icon{
    margin-top: 46px;
}

.boxx_heading{
    font-size: 18px;
    font-weight: 700;
    color: #2C3E50;
    margin-top: 41px;
    margin-bottom: 1px;
}

.smt{
    margin-top: 38px;
}
.smt1{
    margin-top: 46px;
}

.boxx_text{
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #A1B1BC;
}

.page6{
    position: relative;
    height: 790px;
}

.recent_works_header{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 36px;
    color: #2C3E50;
    font-weight: 300;
}

.recent_works_text{
    position: absolute;
    width: 100%;
    top: 78px;
    text-align: center;
    line-height: 23px;
    font-size: 14px;
    color: #A1B1BC;
    font-weight: 400;
}

.nav_2 li{
    font-size: 14px;
    height: 20px;
    font-weight: 400;
    position: relative;
    top: 18px;
    left: -130px;
    padding-right: 24px;
    margin-right: -2px;
    color: #A1B1BC;
}

.nav_2 li:hover{
    color: #1ABC9C;
    cursor: pointer;
}

.upper_bottom_borders{
    max-width: 1170.24px;
    width: 100%;
    height: 55px;
    border: 1px solid #c0c0c081;
    border-left: none;
    border-right: none;
    margin: auto;
    display: flex;
    align-items: flex-end;
    margin-top: 184px;
}

.upper_bottom_borders button{
    height: 38px;
    width: 122px;
    border: none;
    border-radius: 5px;
    top: -9px;
    position: relative;
    background-color: #ECF0F1;
    color: rgb(0, 0, 0);
    opacity: 0.6;
}

.upper_bottom_borders button:hover{
    background-color: #16E8BE;
    color: white;
}


.chess {
  display: flex;
  width: 1170px;
  height: 400px;
  flex: 1;
  flex-wrap: wrap;
  margin-top: 290px;
  margin-left: -795px;
}

.chess div {
  flex: 25%;
}

.cont1 {
  background-color: #ecf0f1;
  flex: 25%;
  height: 200px;
}

.cont2 {
  background-color: #a1b1bc;
  flex: 25%;
  height: 200px;
}

.cont3 {
  background-color: #2c3e50;
  flex: 25%;
  height: 200px;
}

.cont3-child {
  background-color: #ffffff;
}

.cont4{
    background-color: #1ABC9C;
    flex: 25%;
    height: 200px;
}

.cont5{
    background-color: yellow;
    flex: 25%;
    height: 200px;
}

.cont6{
    background-color: rgb(0, 226, 113);
    flex: 25%;
    height: 200px;
}

.cont7{
    background-color: rgb(0, 158, 206);
    flex: 25%;
    height: 200px;
}

.cont8{
    background-color: rgb(238, 107, 107);
    flex: 25%;
    height: 200px;
}

.chess_p {
  text-align: center;
  color: #2c3e50;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  position: relative;
  letter-spacing: 1.5px;
}

.chess_p2 {
  text-align: center;
  color: #a1b1bc;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  position: relative;
  letter-spacing: 1.5px;
  letter-spacing: 1px;
}

.page7{
    background-color: #F9FAFA;
    position: relative;
    height: 711px;
}

.center{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 53px;
}

#page7_header{
    color: #2C3E50;
    font-size: 36px;
    font-weight: 300;
}

#page7_text{
    color: #A1B1BC;
    font-size: 14px;
    font-weight: 400;
    top: -21px;
    position: relative;
    line-height: 22px;
}

#long_container{
    height: 150px;
    width: 1170px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-top: 16.2rem;
    border: 1px solid rgba(153, 153, 153, 0.377);
}

#long_container p{
    height: 49px;
    width: 959px;
    color: #A1B1BC;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin-top: 2.4rem;
    line-height: 2rem;
}

#circle_icon{
    height: 112px;
    width: 112px;   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 74%);
}

#sam{
    font-size: 18px;
    color: #2C3E50;
    font-weight: 400;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 74%);
}

#mass{
    font-size: 14px;
    color: #A1B1BC;
    font-weight: 200;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 74%);
}

.rd{
    top: -102px;
    left: 4px;
    position: absolute;
}

.page8{
    background-color: #363842;
    position: relative;
    height: 880px;
}

#features_div{
    width: 100%;
}

.flex-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-9 {
  height: 881px;
  background-color: grey;
  color: #fff;
  text-align: center;
  padding-top: 104px;
}
.component-9 .g-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.g-box{
    background-color: #16E8BE;
}

.features_texts{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

.features_haeders{
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
}

.box-like {
  background-color: rgb(194, 194, 194);
  height: 650px;
  width: 458px;
  border-top-right-radius: 36px;
  border-top-left-radius: 36px;
  margin-top: 1.7rem;
}

.component-9 .inner-1 {
  padding-left: 17px;
  margin-bottom: -142px;
}

.tick{
    height: 50px;
    width: 50px;
}

.fox{
    color: #26E2BD;
    font-weight: 500;
}

.features_haeder{
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 300;
    width: 100%;
    text-align: center;
    margin-top: 5.8rem;
    margin-bottom: 0;
}

.features_text{
    font-size: 15px;
    font-weight: 400;
    color: #E8E8E8;
    text-align: center;
    margin-top: 5px;
    line-height: 1.5rem;
}

.component-9 h5 {
  margin-bottom: 18px;
}
.component-9 .boxer > div {
  width: 300px;
  height: 141.15px;
  margin-bottom: 25px;
}

.component-9 .box-upper {
  margin-bottom: 9px;
}
.component-9 .box-1 .box-upper {
  justify-content: flex-end;
  gap: 14.3px;
}
.component-9 .box-3 .box-upper {
  justify-content: flex-start;
  gap: 10.7px;
}
.component-9 .box-1 {
  text-align: end;
}

.component-9 .box-3 {
  text-align: start;
}
.component-9 .inner-2 {
  margin-left: 16px;
  gap: 62px;
}

.component-9 .box-1,
.component-9 .box-3 {
  margin-top: 27px;
}

.box-like:hover{
    background-color: #16E8BE;
    z-index: 2;
    cursor: pointer;
}

.page9{
    position: relative;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 1100px;
    display: flex;
    flex-direction: column;
}

#pricing_div{
    width: 100%;
}

#pricing_heading{
    font-size: 36px;
    color: #2C3E50;
    font-weight: 300;
    text-align: center;
    width: 100%;
    margin-top: 5.8rem;
    margin-bottom: -0.4rem;
}

#pricing_text{
    color: #A1B1BC;
    font-size: 14px;
    text-align: center;
    width: 100%;
    line-height: 1.4rem;
}

.page10 {
    transform: translate(374px, 420px);
}

.page10-containers {
    display: flex;
    margin-top: 70px;
    margin-left: 23.4rem;

}

.page10-container-1 div:nth-child(1) p {
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
    color: #A1B1BC;
}

.page10-container-1 div:nth-child(1) {
    width: 293px;
    height: 152px;
    background: #EAEBEC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page10-container-1 div:not(:first-child) {
    width: 292px;
    height: 39px;
    background: #EAEBEC;
}

.page10-container-1 div:not(:first-child) p {
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    color: #686D80;
    padding: 0;
    margin: 0;
    text-align: center;
}

.page10-container-1 div:nth-child(2) p {
    margin-top: 1px;
}

.page10-container-1 div:nth-child(3) p {
    margin-top: 2px;
}

.page10-container-1 div:nth-child(4) p {
    margin-top: 1px;
}

.page10-container-1 div:nth-child(5) p {
    margin-top: 1px;
}

.page10-container-1 div:nth-child(6) p {
    margin-top: 1px;
}

.page10-container-1 div:nth-child(7) p {
    margin-top: 1px;
}

.page10-container-1 div:last-child {
    height: 84px;
}

.background-F6F6F6 {
    background: #F6F6F6 !important;
}

.flex_column{
    flex-direction: column;
}

.background-ECF0F1{
    background-color: #ECF0F1;
}

.background-EAEBEC{
    background-color: #EAEBEC;
}

.page10-container-2{
    margin-right: 1px;
}


.order_buttons{
    transform: translate(71%, 75%);
    background-color: #3A3E4A;
    height: 33px;
    width: 121px;
    border: none;
    border-radius: 1px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid rgba(22, 22, 22, 0.712);
}

.order_buttons:hover{
    background-color: #1ABC9C;
    cursor: pointer;
}

.Q{
    color:#EF584D !important;
}

.R{
    color: #7BC200 !important;
}

.big_boy:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-out;
    cursor: pointer;
}


.page10-container-2 div:nth-child(1) p {
    font-size: 24px;
    margin-top: 0.2rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0;
    border-spacing: 2px;
}

.linear_gradient{
    background: linear-gradient(90deg, rgba(29,209,173,1) 0%, rgba(69,208,255,1) 100%) !important;
    height: 13rem;
    border-bottom: 3px solid #015d408a ;
    border-top: 1.5px solid #00ffae;
}

.money{
    font-size: 48px !important;
    color: #FFFFFF !important;
    font-weight: 300 !important;
    transform: translate(0%, 16%) !important;
}

.month{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 700;
    display: block;
    transform: translate(0%, -26%);
}

.page10-container-2 div:nth-child(1) {
    width: 292px;
    height: 152px;
    background-color: #2C3E50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page10-container-2 div:not(:first-child) {
    width: 292px;
    height: 39px;
    background: #EAEBEC;
}

.page10-container-2 div:not(:first-child) p {
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    color: #686D80;
    padding: 0;
    margin: 0;
    text-align: center;
}

.page10-container-2 div:nth-child(2) p {
    margin-top: 1px;
}

.page10-container-2 div:nth-child(3) p {
    margin-top: 2px;
}

.page10-container-2 div:nth-child(4) p {
    margin-top: 1px;
}

.page10-container-2 div:nth-child(5) p {
    margin-top: 1px;
}

.page10-container-2 div:nth-child(6) p {
    margin-top: 1px;
}

.page10-container-2 div:nth-child(7) p {
    margin-top: 1px;
}

.page10-container-2 div:last-child {
    height: 84px;
}


#long_container2 {
    height: 150px;
    width: 1170px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-top: 36rem;
    margin-left: 0;
    border: 1px solid rgba(153, 153, 153, 0.377);
    position: absolute;
}

#long_container2_header{
    font-size: 24px;
    color: #2C3E50;
    font-weight: 300;
    margin-left: 2.8rem;
    margin-top: 1.7rem;
    margin-bottom: 0;
}

#long_container2_text{
    font-size: 14px;
    color: #A1B1BC;
    font-weight: 400;
    line-height: 1.6rem;
    margin-left: 2.8rem;
    margin-top: 0.6rem;
}

.purchase_button{
    height: 50px;
    width: 176px;
    background-color: #adadad;
    border-radius: 3px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    border: none;
    position: absolute;
    transform: translate(204%,-50%);
    top: 50%;
    left: 50%;
    letter-spacing: -0.7px;
}

.purchase_button:hover{
    background-color: #1ABC9C;
    cursor: pointer;
}

.pole{
    height: 140px;
    width: 10px;
    background-color:#1ABC9C;
    position: absolute;
    margin-top: 0.3rem;
    margin-left: 0.2rem;
}

.page11{
    width: 100%;
    height: 1264px;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(184, 184, 184, 0.37);
    background-color: #F9FAFA;
}

.computer_div > img{
    height: 542px;
    width: 544px;
    margin-left: 23.5rem;
    margin-top: 6.2rem;
}

.computer_div{
    display: flex;
    width: 100%;
}

.computer_main_header{
    margin-top: 9.6rem;
    margin-left: 3.2rem;
    text-align: center;
    width: 377px;
    font-size: 36px;
    color: #2C3E50;
    font-weight: 300;
}

.computer_flexbox{
    display: flex;
    flex-direction: column;
    height: 143px;
    width: 240px;
}

.n2{
    margin-left: 3.7rem;
}

.n3{
    margin-top: 2.7rem;
}
.n4{
    margin-top: 2.8rem;
    margin-left: 3.7rem;
}
.n6{
    margin-left: 3.7rem;
}
.n7{
    margin-top: 2.9rem;
}
.n8{
    margin-top: 3rem;
    margin-left: 3.7rem;
}
.computer_whole_container{
    display: flex;
    flex-wrap: wrap;
    height: 340px;
    width: 550px;
    margin-top: 15rem;
    margin-left: -23.3rem;
}

.computer_whole_container2{
    display: flex;
    flex-wrap: wrap;
    height: 340px;
    width: 550px;
    margin-top: 50.7rem;
    margin-left: -71.9rem;
}

.computer_flexbox_child{
    display: flex;
    position: relative;
}

.hexagon{
    height: 40px;
    width: 35px;
}

.computer_flex_header{
    font-size: 18px;
    color: #2C3E50;
    font-weight: 700;
    display: inline;
    position: absolute;
    margin-left: 2.7rem;
    margin-top: 0.5rem;
}

.computer_flex_text{
    font-size: 14px;
    color: #A1B1BC;
    font-weight: 400;
    text-align: left;
    line-height: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    width: 239px;
}

.computer_flex_view{
    font-size: 15px;
    color: #1ABC9C;
    font-weight: 700;
    margin-top: 0.5rem;
}

#squares_photo{
    height: 441px;
    width: 558px;
    margin-top: 45.9rem;
    margin-left: 4.1rem;
}

.margin_top{
    margin-top: -5.4rem;
    margin-left: -0.1rem;
    margin-bottom: 0;
}